cifar10_test_lmdb
cifar10_train_lmdb
snsd_cifar10_test_leveldb
snsd_cifar10_train_leveldb
*.sh
convert_cifar_data.cpp
cat_data
cat_classify.py
snsd_data
cifar10_*.prototxt
*.caffemodel
*.solverstate
!snsd_cifar10_full_150715_iter_60000.caffemodel
!snsd_cifar10_full_150715_iter_60000.solverstate
*.binaryproto
*.DS_Store
README_CAFFE.md
/python/*.jpg
/python/*.jpeg
/python/*.png