cifar10_test_lmdb
cifar10_train_lmdb
snsd_cifar10_test_leveldb
snsd_cifar10_train_leveldb
*.sh
convert_cifar_data.cpp
cat_data
cat_classify.py
snsd_data
cifar10_*.prototxt
*.caffemodel
*.solverstate
*.binaryproto